*.o
utils/*.o
xclip/*.o
xclip/xclip
screenshot/*.o
screenshot/screenshot
test.c
clip_share
clip_share_static
clip_share_web
*.tar.xz
*.tar.gz
*.tar
*.exe
*.res
*.conf
allowed_clients.txt
server_err.log
TODO
dist/
no_web/
cert_keys/
test
.vscode/
.trash/