*.o
xclip_src/*.o
xclip_src/xclip
screenshot/*.o
screenshot/screenshot
test.c
clip_server
clip_server_static
clip_server_no_web
xclip
*.tar.xz
*.tar.gz
*.tar
server_err.log
TODO
dist/
no_web/
cert_keys/
test/
.vscode/
.trash/