#include <winres/resource.h>

APP_ICON ICON "clip_icon.ico"
1 VERSIONINFO
FILEVERSION     2,4,0,0
PRODUCTVERSION  2,4,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Clipboard Share"
      VALUE "FileVersion", "2.4"
      VALUE "InternalName", "clip_share"
      VALUE "LegalCopyright", "H. Thevindu J. Wijesekera"
      VALUE "OriginalFilename", "clip_share.exe"
      VALUE "ProductName", "ClipShare"
      VALUE "ProductVersion", "2.4"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END