id ICON "clip_icon.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Clipboard Share"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "clip_share"
      VALUE "LegalCopyright", "Thevindu"
      VALUE "OriginalFilename", "clip_share.exe"
      VALUE "ProductName", "Clip Share"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END