#include <res/win/resource.h>

#define MAJOR VERSION_MAJOR
#define MINOR VERSION_MINOR
#define PATCH VERSION_PATCH
#define VERSION_STR VERSION

APP_ICON ICON "clip_icon.ico"
1 VERSIONINFO
FILEVERSION     MAJOR,MINOR,PATCH,0
PRODUCTVERSION  MAJOR,MINOR,PATCH,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Clipboard Share"
      VALUE "FileVersion", VERSION_STR
      VALUE "InternalName", "clip_share"
      VALUE "LegalCopyright", "H. Thevindu J. Wijesekera"
      VALUE "OriginalFilename", "clip_share.exe"
      VALUE "ProductName", "ClipShare"
      VALUE "ProductVersion", VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
1 24 "clip_share.exe.manifest"