body {
    margin: 0;
    padding: 16px;
    text-align: justify;
    text-justify: inter-word;
    min-height: calc(100vh - 32px);
    display: flex;
    flex-direction: column;
}

div.page {
    min-width: 720px;
    width: 80vw;
    margin: 0 auto;
}

li,
p {
    margin: 0.75em 0
}

table {
    border: 3px solid black;
    padding: 0;
    border-collapse: collapse;
    margin-bottom: 2em;
}

thead tbody {
    margin: 0;
}

table tr {
    margin: 0;
}

th,
td {
    border: 1px solid gray;
    text-align: center;
    padding: 0.4em 2ch;
    margin: 0;
    width: fit-content;
}

th {
    padding: 0.4em 1ch;
}

table th {
    border: 1px solid black;
    font-weight: bold;
    background-color: lightgrey;
}

td.justify {
    text-align: justify;
    text-justify: inter-word;
}

td.center {
    text-align: center;
}

th#status-code-value {
    min-width: 10ch;
}

div#fill-page {
    flex-grow: 1;
}

div#foot {
    margin-top: 4vh;
}

div#nav,
div#foot {
    display: flex;
    height: 4vh;
}

div#nav span,
div#foot span {
    padding: 0 2ch;
}

span.growx {
    flex-grow: 1;
}

h1 {
    text-align: center;
}

h2,
h3 {
    margin-top: 1.5em;
}

caption {
    font-size: small;
    text-align: left;
}

.left-align * {
    text-align: left;
}

.mono {
    font-family: monospace;
}

div.image {
    height: 45px;
    display:block;
    margin-top: 5px;
}

div.image span{
    vertical-align: top;
    display: inline;
}

div.image img {
    height: 40px;
    margin: 0;
    margin-left: 5px;
    display: inline-block
}